@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 grey-text">Welcome to MovieMania!</h1>
    <p class="grey-text">Welcome to MovieMania, your ultimate source for all things movies! We're dedicated to providing you with the most comprehensive and up-to-date information about every film ever made, from the latest blockbusters to timeless classics. </p>

    <p class="grey-text">To browse our extensive collection of movies, you'll need to create an account and log in to your MovieMania profile. This ensures that you have a personalized experience on our platform, with access to all the features and tools we offer. </p>

    <p class="grey-text">Once you're logged in, you can easily search for information about any movie you can think of. Our database is constantly updated to ensure that you have access to the latest information about your favorite films.</p>

    <p class="grey-text">At MovieMania, we believe that movies are more than just entertainment - they're an art form that can inspire, challenge, and enlighten us. Our mission is to celebrate the magic of movies and provide a platform for film fans around the world to connect and engage with this amazing art form. </p>

    <p class="grey-text">So why wait? Sign up for MovieMania today and start exploring the wonderful world of movies!</p>
</div>
