@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 grey-text">@ViewData["Title"]</h1>

<p class="grey-text">MovieMania takes the protection of its users' personal data very seriously and is fully committed to compliance with the GDPR policies. We understand the importance of safeguarding personal information and have implemented measures to ensure that our platform is consistent with the GDPR regulations. These measures include providing clear and transparent information on data processing activities, obtaining explicit consent from users for data processing activities, and allowing users to easily access, modify or delete their personal data. We continuously review and update our data protection policies and procedures to ensure that we remain compliant with the GDPR and provide the highest level of data protection to our users.</p>
